# Contact Form Project
node_modules/
یک فرم تماس ساده با قابلیت ارسال ایمیل

## امکاناتent
- ارسال ایمیل با Nodemailer
- طراحی زیبا و ریسپانسیو
- انیمیشن‌های جذاب
- اعتبارسنجی فرم
- مدیریت خطا

## نصب و راه‌اندازی
*.log
1. نصب وابستگی‌ها:```bashnpm install```
## تنظیمات احراز هویت

```json
auth: {
    user: 'YOUR_EMAIL@gmail.com',
    pass: 'YOUR_APP_PASSWORD'
}
```

